<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <context:annotation-config />
    <context:component-scan base-package="es.us.isa.ppinot.resource"/>
    <context:component-scan base-package="es.us.isa.bpms"/>

    <!-- SpringMVC Resteasy configuration -->
    <import resource="classpath:springmvc-resteasy.xml"/>
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="order" value="0" />
    </bean>
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.Requ"/>-->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- Repository -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:repository.properties"/>
    </bean>
    <bean id="processRepository" class="es.us.isa.bpms.repository.FileSystemRepository">
        <property name="directory" value="${PPINOT_REPOSITORY_DIRECTORY}"/>
    </bean>

    <!--<bean id="jsonProvider" class="es.us.isa.ppinot.resourcePINOTJsonProvider"/>-->

    <!--   Resources  -->
    <bean id="repositoryResource" class="es.us.isa.bpms.repository.ModelsResource">
        <property name="processRepository" ref="processRepository"/>
    </bean>
    <bean id="editorResource" class="es.us.isa.bpms.editor.EditorResource"/>
    <bean id="userResource" class="es.us.isa.bpms.users.UserResource"/>


    <!-- Authentication -->
    <context:component-scan base-package="org.brickred.controller" />
    <import resource="properties.xml" />
    <bean id="socialAuthConfig" class="org.brickred.socialauth.SocialAuthConfig">
        <property name="applicationProperties"><ref bean="socialAuthProperties"/></property>
    </bean>
    <bean id="socialAuthManager" class="org.brickred.socialauth.SocialAuthManager" scope="session">
        <property name="socialAuthConfig"><ref bean="socialAuthConfig"/></property>
        <aop:scoped-proxy/>
    </bean>
    <bean id="socialAuthTemplate" class="org.brickred.socialauth.spring.bean.SocialAuthTemplate" scope="session">
        <aop:scoped-proxy/>
    </bean>
    <bean id="socialAuthWebController" class="org.brickred.socialauth.spring.controller.SocialAuthWebController">
        <constructor-arg value="${PPINOT_BASE_URL}" />
        <constructor-arg value="index.html" />
        <constructor-arg value="index.html" />
    </bean>
</beans>