<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- All REST resources will be prefixed by /api -->
<!-- 	<context-param> -->
<!-- 	<param-name>resteasy.servlet.mapping.prefix</param-name> -->
<!-- 	<param-value>/</param-value> -->
<!-- 	</context-param> -->


	<servlet>
		<servlet-name>Spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Spring</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<!-- Servlets -->
	<!-- <servlet> -->
	<!-- <servlet-name>Resteasy</servlet-name> -->
	<!-- <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class> -->
	<!-- <init-param> -->
	<!-- <param-name>javax.ws.rs.Application</param-name> -->
	<!-- <param-value>es.us.isa.ppinot.templates.TemplatesApplication</param-value> -->
	<!-- </init-param> -->
	<!-- </servlet> -->

	<!-- Servlet mappings -->
	<!-- All calls to /api/xxx will be sent to the resteasy servlet -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>Resteasy</servlet-name> -->
	<!-- <url-pattern>/api/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
